*{margin: 0px;
padding: 0px;}
.homepagemaincontainer{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}
.homepagebackground{
    object-fit: cover;
    background-image: url("https://pixabay.com/get/gcd17e970c8d05abc0641578f3066e5231969228a0f4d20d4094a4873838a7819c368a610a9eb3e2ffccc373e29c5b0981bf4aa5795b7daec39ddaa25a614a40c_1920.jpg");
    height: 100vh;

    width: 100%;

}

