*{margin: 0px;
padding: 0px;}

.homepagebackground{
    height: 95vh;
    width: auto;
    margin-top: -8.6rem;
    object-fit: cover ;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("../../images/woman-3687080_1920.jpg") ;
    background-repeat: no-repeat;  
}

.homepagemaincontainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;

}


.headinghomepage{
    font-size: 3.7em;
    font-weight: bold;
    text-align: center;
    color: rgb(58, 193, 247);
}
.headinghomepage>span{

    color:white;
}

.quote{
    font-size: 1.4em;
   text-align: center;
   color: white;
}

html{
    scroll-behavior: smooth;
}