*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.hiring-Form-Main-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    font-weight: 600;
}

.hring-form-heading{
    font-size: 2.5rem;
    /* margin-top: -5rem; */
    text-transform: uppercase;
    font-weight: 600;
}
.hring-form-heading>span{
    font-size: 2.5rem;
    color: rgb(28, 186, 248);
    text-transform: uppercase;
    font-weight: 700;
}

.checkbox-Selection{
    display: flex;
flex-direction: column;
justify-content: space-evenly;
}