*{margin: 0px;
    padding: 0px;}
    
    .full-Stack-background{
        height: 95vh;
        width: auto;
        margin-top: -8.6rem;
        object-fit: cover ;
        background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("../../../images/react-js.jpg") ;
        background-repeat: no-repeat;  
    }
    
    .full-Stack-maincontainer{
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    
    
    .full-Stack-homepage{
        font-size: 3.3em;
        font-weight: 500;
        text-align: center;
        color: rgb(58, 193, 247);
    }
    .full-Stack-homepage>span{
      
        color:white;
    }
    
    
    .full-Stack-quote{
        font-size: 1.2em;
       text-align: center;
       color: white;
    }
  
    .full-Stack-offerings{
        margin-top: 2.5rem;
        margin-left: 14rem;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 600;
    }
    .full-Stack-offerings1{
        margin-left: 14rem;
        margin-bottom: 2.5rem;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 600;
        color:rgb(58, 193, 247);
    }
    .full-Stack-offerings>span{
        color:rgb(58, 193, 247);
    }
 
    .quote-Box-full-stack-Wrapper{
        display: flex;
        justify-content: end;
        align-items:center;
        height:30vh;
        background-color: rgb(49, 178, 230);
        width: 100%;

    }
    .div-full-Stack-Box-quote{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: left;
        justify-content: center;
        align-items: center;    
        width: 60%;
        text-align: center;
        padding: 1rem;
        font-size: 2.5rem;
        color: white;
        font-weight: 600;
    }
    .div-full-Stack-Box-quote>span{
        color: orangered;
        margin-left: 7rem;
    }

    .full-Stack-techincal-Box{
        display: flex;
        flex-direction: column;
        height: 60vh;
   
    }
    .techincal-para-Heading{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
     text-transform: uppercase;
  margin-top: 3rem;
  font-size: 2.5rem;
  font-weight: 600;

    }
    .techincal-para-Heading>span{
        color: rgb(61, 198, 252);
    }

.technical--ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    margin-top: 2.5rem;
    text-align: center;

}
.technical-Li-List{
display: flex;
text-align: center;
background-color: rgb(228, 228, 228);
margin-left: 0.5rem;
margin-right: 0.5rem;
padding: 0.5rem;
padding-left: 1.5rem;
padding-right: 1.5rem;
border-radius: 22px;
font-weight: 600;
font-size: 1.1rem;
border: 1px solid rgb(216, 216, 216);
}

/* .technical-Li-List{
   
    color: white;
    display: flex;
text-align: center;
background-color: skyblue;
margin-left: 0.5rem;
margin-right: 0.5rem;
padding: 0.5rem;
padding-left: 1.5rem;
padding-right: 1.5rem;
border-radius: 22px;
font-weight: 600;
font-size: 1.1rem;
border: 1px solid rgb(216, 216, 216);
    
}        */

    .btndiv{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
    }

    .Hiring-submitbtn{
        font-size: 1.1rem;
        width: 8rem;
        height: 2.8rem;
        text-transform: uppercase;
        background-color: rgb(4, 145, 4);
        outline: none;
        color: white;
        border-radius: 5px;
        border: none;
    }
    .Hiring-submitbtn:hover{
        background-color: rgb(145, 143, 143);
    }

    html{
        scroll-behavior: smooth;
    }
    button{
        width: 80px;
        height: 40px;
        margin: 15px;
      }
      .blackButton{
        background-color: black;
        color: white;
      }
      
      .whiteButton{
        background-color: white;
        color: black;
      }
      